shamefully-hoist=true  

# TODO: hopefully can remove after migration from nuxt/composition-api to nuxt bridge

# (waiting on response from: https://github.com/nuxt-community/composition-api/issues/573)
# keeping the flag enabled for now allows for use of PNPM until all packages can be confirmed properly supporting PNPM
# Resolves below error:  
# ERROR  Cannot find module '@vue/composition-api' from 'E:\Programming\speedrun.website'                      13:55:46
# at Function.resolveSync [as sync] (node_modules\.pnpm\resolve@1.20.0\node_modules\resolve\lib\sync.js:102:15)
# at node_modules\.pnpm\vue-server-renderer@2.6.14\node_modules\vue-server-renderer\build.prod.js:1:77905
# at Object.<anonymous> (webpack:/external "@vue/composition-api":1:0)
# at __webpack_require__ (webpack/bootstrap:25:0)
# at Module.<anonymous> (.nuxt/composition-api/register.js:1:0)
# at __webpack_require__ (webpack/bootstrap:25:0)
# at Object.<anonymous> (server.js:1496:1)
# at __webpack_require__ (webpack/bootstrap:25:0)
# at server.js:118:18
# at Object.<anonymous> (server.js:121:10)
