# TODO:
#  Cannot start nuxt:  Cannot resolve @intlify/vue-router-bridge on pnpm! 
#  please install it on 'node_modules'
# ========================================
# unfortunately can't find a way with: https://pnpm.io/npmrc#public-hoist-pattern
# to get just some packages to be shamefully-hoisted without build errors
# there is an open issue here: https://github.com/nuxt/nuxt/issues/14146
shamefully-hoist=true