.cache
.DS_Store
.env
.eslintcache
.idea
.node_repl_history
.npm
.nuxt
.nyc_output
.pnpm-store/
.serverless
.vuepress/dist
*-lock.*
*.log
*.pid
*.pid.lock
*.seed
*.swp
*.tgz
/logs
build/Release
coverage
dist
lib-cov
node_modules/
npm-debug.log*
nuxt.config.ts
pids
sw.*
typings/
