.cache
.DS_Store
.env
.eslintcache
.grunt
.idea
.lock-wscript
.next
.node_repl_history
.npm
.nuxt
.nyc_output
.pnpm-store/
.serverless
.vuepress/dist
.yarn-integrity
*-lock.*
*.log
*.pid
*.pid.lock
*.seed
*.swp
*.tgz
/logs
bower_components
build/Release
coverage
dist
jspm_packages/
lib-cov
node_modules/
npm-debug.log*
pids
sw.*
typings/
yarn-debug.log*
yarn-error.log*