# Folders
/.pnpm-store
/.vuepress/dist
/dist
/build
/.husky
/.nuxt
/coverage
/node_modules
/public
/.output

# files
pnpm-lock.yaml
.gitkeep
*.svg
.gitignore
.npmrc
.nvmrc
.pnpmrc
.prettierignore
COPYING
