name: CI

on:
  push:
    branches: [main]
  pull_request:

concurrency:
  group: ${{ github.head_ref || github.run_id }}-testing
  cancel-in-progress: true

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  test:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    continue-on-error: true

    strategy:
      fail-fast: false
      max-parallel: 2
      matrix:
        run_number: [1, 2, 3, 4]

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      - name: Read package.json
        id: package
        uses: juliangruber/read-file-action@v1
        with:
          path: ./package.json

      - uses: pnpm/action-setup@v4

      - name: Cache PNPM modules
        uses: actions/cache@v4
        id: cache-modules
        with:
          path: |
            ~/.pnpm-store
            node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: ${{ runner.os }}-node-

      - uses: actions/setup-node@v4
        with:
          # use the version found in `.nvmrc`
          node-version-file: '.nvmrc'
          # cache: 'pnpm'

      - name: Install `node_modules`
        if: steps.cache-modules.outputs.cache-hit != 'true'
        run: pnpm install

      - name: Build the `.nuxt` directory
        run: pnpm build

      - name: Tests
        run: pnpm test
