name: CI - Build & Linting
on:
  push:
    branches: [main]
  pull_request:

concurrency:
  group: ${{ github.head_ref || github.run_id }}-build-and-lint
  cancel-in-progress: true

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build_and_lint:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # checks consistent PNPM version
      - name: Ensure consistent PNPM version usage
        id: pnpm-version
        using: 'node18'
        run: ./.github/scripts/pnpmVersions.js

      - name: Echo pnpm version
        run: echo "${{ steps.pnpm-version.outputs.content }}"

      - name: Cache PNPM modules
        uses: actions/cache@v3
        id: cache-modules
        with:
          path: |
            ~/.pnpm-store
            node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: ${{ runner.os }}-node-

      - uses: pnpm/action-setup@v2.2.4
        with:
          version: '${{ steps.pnpm-version.outputs.content }}'

      - uses: actions/setup-node@v3
        with:
          # use the version found in `.nvmrc`
          node-version-file: '.nvmrc'
          cache: 'pnpm'

      - name: Install `node_modules`
        if: steps.cache-modules.outputs.cache-hit != 'true'
        run: pnpm install

      - name: Copy `.env.test` -> `.env`
        run: cp .env.test .env

      - name: Cache build
        uses: actions/cache@v3
        id: cache-build
        with:
          path: .nuxt/
          key: ${{ runner.os }}-build-${{ hashFiles('**/.nuxt') }}
          restore-keys: ${{ runner.os }}-build-

      - name: Build the `.nuxt` directory
        if: steps.cache-build.outputs.cache-hit != 'true'
        run: pnpm build

      - name: Linting
        run: pnpm run lint

      - name: Prettier
        run: pnpm run prettier:check
